.todo-card {
    background-color: rgb(55, 241, 31);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 250px;
    transition: background-color 0.3s ease;
  }
  
  .todo-card.completed {
    background-color: hsl(295, 91%, 39%);
  }
  
  .todo-card.not-completed {
    background-color: #931822;
  }
  
  .todo-card h3 {
    margin: 0;
    font-size: 1.5em;
  }
  
  .todo-card p {
    margin: 5px 0;
  }
  
  .todo-card button {
    margin: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .todo-card button:nth-child(2) {
    background-color: #ffc107;
  }
  
  .todo-card button:nth-child(3) {
    background-color: #dc3545;
    color: white;
  }
  